body{
  margin:0;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*DROPDOWN_MENU_START---------------------------------*/
.dropbtn {
  background-color: #4282B3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #5B96C2;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #5B96C2;}

/*about us-----------------------------------*/
.tristan-inf{
  position: fixed;
  left: 200px;
  top: 270px;
  font-size: 35px;
  border: 4px solid black;
  border-radius: 40px;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  border-top-left-radius: 0px;
  font-family: cursive;
  box-shadow: 5px 5px 5px 5px black;
}
.tristan{
  position: fixed;
  left: 200px;
  font-size: 40px;
  top: 225px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.lucas-inf{
  position: fixed;
  right: 200px;
  top: 270px;
  font-size: 35px;
  border: 4px solid black;
  border-radius: 40px;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  border-top-right-radius: 0px;
  font-family: cursive;
  box-shadow: 5px 5px 5px 5px black;
}
.lucas{
  position: fixed;
 right: 200px;
  font-size: 40px;
  top: 225px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}
hr.about{
  width: 50%;
  position: fixed;
  left: 200px;
  top: 200px;
}
.about{
  position: fixed;
 left: 850px;
 font-size: 50px;
 top: 140px;
 font-family:'Times New Roman', Times, serif;
}

/*NAVBAR_START----------------------------------------*/
.navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: #4282B3;
  margin: 0;
  padding-right: 20px;
  justify-content: space-between
}
.nav_buttons{
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  background-color: #4282B3;
  margin: 0;
  padding-top: 10px; 
  padding-bottom: 10px;

}
.nav_links{
  padding-right: 10px;
  background-color: #4282B3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
i{
  padding-left: 5px;
}
.nav_links:hover{
  background-color: #5B96C2;
}
.navbar img{
  height: 50px;
  padding-left: 0;
  margin-right: 20px;
}
.extra_links {
    display: flex;
    align-items: center;
}
.searchbar{
  display: flex;
  align-items: center;
  margin-right: 8%;
}
.barbutton{
  border: solid black 2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 25px;
}
.bar{
  border: solid black 2px;
  border-right: none;
}
.settingsbutton{
  padding-right: 10px;
  background-color: #4282B3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
.settingsbutton:hover{
  background-color: #5B96C2;
}
@media only screen and (max-width: 819px){
  .searchbar{
    display: none;
  }
  .barbutton{
    display: none;
  }
  .bar{
    display: none;
  }
  .nav_links{
    font-size: 10px;
    padding: 3px;
  }
  .dropbtn {
    font-size: 10px;
  }
  .extra_links {
    flex-direction: column;
    align-items: flex-start;
  }  
}
.settingscontainer{
  display: flex;
  flex-direction: column
}

/*NAVBAR_END------------------------------------------*/

.home-page-image{
  display: block;
  border-radius: 3px; 
  width: 40%;
  margin-right: 10%;
  float: right;
}
.title{
  text-align: center;
  font-size: 3vw;
}
hr.home-hr{
  display:none;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  height:3px;border-width:0;color:black;background-color:black;
}
.intro-text{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.5vw;
}
@media only screen and (max-width: 820px){
  .home-page-image{  
    display: block;
    margin-top: 20px;
    border-radius: 3px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  hr.home-hr{
    display: block;
  }
}

/*video----------------------------------------------*/
iframe{ 
  display: block;
  margin-left: auto; 
  margin-right: auto;
   width:1000px; 
   height:600px;
    }
     hr{ margin-top: 1px; 
     margin-bottom: 15px;
      text-align: center;
       margin-left:300px;
        margin-right: 299px;
         border-width: 2px;
          border-color: black;
           }
           .vidtitle {
              display: block;
               text-align: center;
                font-size: 75px;
                 }

/*contact----------------------------------------------*/
.contact_container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  border-radius: 20px;
  padding-bottom: 20px;
}
.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1vw;
}
.contact_name{
  padding-bottom: 10px;
}
input[type=text]{
  border: none;
  border-bottom: grey solid 3px;
  transition: 0.5s;
}
input[type=text]:focus {
  border: none;
  border-bottom: black solid 3px;
  outline: none;
}
textarea{
  border: none;
  border-bottom: grey solid 3px;
  transition: 0.5s;
  height:60px; 
  width:100%;
}
textarea:focus {
  border: none;
  border-bottom: black solid 3px;
  outline: none;
}
.contact_text{
  text-align: center;
  font-size: 2vw;
}
.contact{
  padding-bottom: 10px;
}
.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.submit button{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #4282B3;
  background: #fff;
  color: #4282B3;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  margin-top: 20px;
}

.submit button:hover{
  background: #4282B3;
  color: #fff;
}

.submit button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}
.fill_in{
  display: flex;
  margin: 10px;
  flex-direction: column;
}
legend{
  text-align: center;
}

@media only screen and (max-width: 768px){
  textarea{
    height:60px; 
    width:70%;
  }
  .submit button{
    width: 100px;
  }
}

/*machine learning----------------------------------------------*/
.frank {
  font-size: 30px;
  position: fixed;
  left: 70px;
  top: 160px;
  border: solid black;
  padding: 10px;
  background-color: lightblue;
  border-radius: 25px;
 
}

/*history---------------------------------------------------------*/
.history-container{
  display: flex;
  flex-direction: row;
  margin: 70px;
  font-size: 25px;
}
.history-img-checkers{
  width: 70%;
  height: width;
}
.history-img-person1{
  width: 200px;
  height: 300px;
  padding-right: 5px;
}
.history-img-person2{
  width: 400px;
  height: 300px;
}
.history-container-1{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: stretch
}
.htitle{
  text-align: center;
}
hr.history{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height:3px;border-width:0;color:black;background-color:black;
}
hr.history-h1{
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  height:3px;border-width:0;color:black;background-color:black;
  margin-bottom: 40px;
}
.image-container-history{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1230px){
  .history-container{
    flex-direction: column
  }
  .history-container-1 {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .history{
    margin-top:20px;
  }
  hr.history{
  display: none;
  }
  .history-container{
  margin-right: 20%;
  margin-left: 20%;
  }
  .history-img-checkers{
  width: 80%;
  height: width;
}
}

 /*future---------------------------------------------------------*/
 
  future_graph{
    width: 50%;
    height: width;
  }
  /*nowadays---------------------------------------------------------*/
 .robot-img{
   width: 60%;
   height: width;
 }
 .companies{
   width: 100%;
   height: width;
 }
  
@media only screen and (max-width: 1230px){
 .robot-img{
   width: 100%;
   height: width;
 }
 .companies{
   width: 100%;
   height: width;
 }
}
/*Darkmode---------------------------------------------------------*/
.dark-mode {
  background-image: url("images/darkbackground.jpg");
  color: white;
}
.dark-mode hr{
  color: white; background-color:white;
}
.dark-mode .navbar{
  background-color: #1d527a;
}
.dark-mode .nav_buttons{
  background-color: #1d527a;
}
.dark-mode .nav_links{
  background-color: #1d527a;
}
.dark-mode .nav_links:hover{
  background-color: #2a74ac;
}
.dark-mode .dropbtn{
  background-color: #1d527a;
}
.dark-mode .dropdown:hover{
  background-color: #2a74ac;
}
.dark-mode .dropdown:hover .dropbtn {background-color: #2a74ac;}
.dark-mode .contact_container{background-color: darkgrey;}