body{
  margin:0;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*DROPDOWN_MENU_START---------------------------------*/
.dropbtn {
  background-color: #4282B3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #5B96C2;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #5B96C2;}

/*DROPDOWN_MENU_END-----------------------------------*/

/*NAVBAR_START----------------------------------------*/
.navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: #4282B3;
  margin: 0;
  padding-right: 20px;
  justify-content: space-between
}
.nav_buttons{
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  background-color: #4282B3;
  margin: 0;
  padding-top: 10px; 
  padding-bottom: 10px;

}
.nav_links{
  padding-right: 10px;
  background-color: #4282B3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
i{
  padding-left: 5px;
}
.nav_links:hover{
  background-color: #5B96C2;
}
.navbar img{
  height: 50px;
  padding-left: 0;
  margin-right: 20px;
}
.extra_links {
    display: flex;
    align-items: center;
}
.searchbar{
  display: flex;
  align-items: center;
  margin-right: 8%;
}
.barbutton{
  border: solid black 2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 25px;
}
.bar{
  border: solid black 2px;
  border-right: none;
}
@media only screen and (max-width: 819px){
  .searchbar{
    display: none;
  }
  .barbutton{
    display: none;
  }
  .bar{
    display: none;
  }
  .nav_links{
    font-size: 10px;
    padding: 3px;
  }
  .dropbtn {
    font-size: 10px;
  }
  .extra_links {
    flex-direction: column;
    align-items: flex-start;
  }  
}

/*NAVBAR_END------------------------------------------*/

.home-page-image{
  display: block;
  border-radius: 3px; 
  width: 40%;
  margin-right: 10%;
  float: right;
}
.title{
  text-align: center;
  font-size: 3vw;
}
hr{
  display:none;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  height:3px;border-width:0;color:black;background-color:black;
}
.intro-text{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.5vw;
}
@media only screen and (max-width: 820px){
  .home-page-image{  
    display: block;
    margin-top: 20px;
    border-radius: 3px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  hr{
    display: block;
  }
}

/*video----------------------------------------------*/
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width:560px;
  height:315px;
  
  
}

/*contact----------------------------------------------*/
.contact_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  border-radius: 20px;
}
.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1vw;
}
.contact_name{
  padding-bottom: 10px;
}
input[type=text]{
  border: none;
  border-bottom: grey solid 3px;
  transition: 0.5s;
}
input[type=text]:focus {
  border: none;
  border-bottom: black solid 3px;
  outline: none;
}
textarea{
  border: none;
  border-bottom: grey solid 3px;
  transition: 0.5s;
  height:60px; 
  width:150%;
}
textarea:focus {
  border: none;
  border-bottom: black solid 3px;
  outline: none;
}
.contact_text{
  text-align: center;
  font-size: 2vw;
}
.contact{
  padding-bottom: 10px;
}
.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.submit button{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #4282B3;
  background: #fff;
  color: #4282B3;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.submit button:hover{
  background: #4282B3;
  color: #fff;
}

.submit button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

@media only screen and (max-width: 768px){
    textarea{
    height:60px; 
    width:70%;
  }
  .submit button{
    width: 100px;
  }
}

/*Darkmode---------------------------------------------------------*/
.dark-mode {
  background-image: url("images/darkbackground.jpg");
  color: white;
}
.dark-mode hr{
  color: white; background-color:white;
}
.dark-mode .navbar{
  background-color: #1d527a;
}
.dark-mode .nav_buttons{
  background-color: #1d527a;
}
.dark-mode .nav_links{
  background-color: #1d527a;
}
.dark-mode .nav_links:hover{
  background-color: #2a74ac;
}
.dark-mode .dropbtn{
  background-color: #1d527a;
}
.dark-mode .dropdown:hover{
  background-color: #2a74ac;
}
.dark-mode .dropdown:hover .dropbtn {background-color: #2a74ac;}
.dark-mode .contact_container{background-color: darkgrey;}

